#login{
	background-color: black;
	width: 270px;
	height: 60px;
	border: 1px solid white;
	position: absolute;
	left:40px;
	top: 150px;

}
#loginbutton{
	font-family: calibri;
	font-size: 30px;
	color: solid black;
}
#loginbutton{
	position:absolute;
	width:270px;
	height: 60px;
	color: black;
	opacity: 0.5;

}
 #loginbutton:hover{
	background-color: white;
	opacity:0.8;

}
#or{
	font-family: Bradley Hand ITC;
	position: absolute;
	left: 160px;
	top: 210px;
	color: white;
	font-size: 25px;
}

#register{
	background-color: black;
	width: 270px;
	height: 60px;
	border: 1px solid white;
	position: absolute;
	left:40px;
	top: 260px;

}
#regisbutton{
	font-family: calibri;
	font-size: 30px;
	color: solid black;
}
#regisbutton{
	position:absolute;
	width:270px;
	height: 60px;
	color: black;
	opacity: 0.5;

}
 #regisbutton:hover{
	background-color: white;
	opacity:0.8;

}
#container1{
	position: absolute;
	left: 515px;
	top: 100px;
	width:350px;
	height:450px;
	border: 1px solid black;
	background-color: black;
	opacity: 0.8;
}
#container1:hover{
	transform: scale(1.1);

}
#container2{
	position: absolute;
	top: 0px;
	left: 0px;

}
#icon{
	position: absolute;
	left: 7px;
	top: -15px;
}
#title{
	position: absolute;
	left: 70px;
	top: -25px;
	font-family: arial black;
	font-size: 34px;
}
#footericon{
	position: absolute;
	bottom: -5px;
	left: 7px;

}
#copyright{
	position: absolute;
	color: black;
	font-family: arial black;
	font-size: 20px;
	left: 50px;
}

#container3{
	position: absolute;
	bottom: 0px;
	left: 0px;
	
}
#container4{
	position: absolute;
	top: 60px;	
	left: 0px;
}
#message{
	position: absolute;
	left: 950px;
	color: black;
	top: 80px;
	font-family: calibri;
	font-size: 40px;
}
#message2{
	position: absolute;
	left: 900px;
	color: black;
	top: 250px;
	font-family: calibri;
	font-size: 40px;
}
#span1{
	color:transparent;
	animation: blur 10s ease-out infinite;
	-webkit-animation : blur 10s ease-out infinite;
}

#span1 : nth-child(1){
	animation-delay: 0.10s;
	-webkit-animation-delay: 0.10s;
}

#span{
	color:transparent;
	animation: blur 7s ease-out infinite;
	-webkit-animation : blur 5s ease-out infinite;
}

#span : nth-child(1){
	animation-delay: 0.1s;
	-webkit-animation-delay: 0.1s;
}
@keyframes blur{
	0% {text-shadow: 0 0 100px #fff; 
	opacity: 0;}
	5% {text-shadow: 0 0 90px #fff;}
	15%{opacity: 1;}
	20%	{text-shadow:  0 0 0px #fff;}
	80%	{text-shadow:  0 0 0px #fff;}
	85%	{opacity: 1;}
	95%	{text-shadow:  0 0 90px #fff;}
	100%{text-shadow:  0 0 100px #fff; opacity:0;}
}
@-webkit-keyframes blur {
	0%		{text-shadow:  0 0 100px #fff; opacity:0;}
	5%		{text-shadow:  0 0 90px #fff;}
	15%		{opacity: 1;}
	20%		{text-shadow:  0 0 0px #fff;}
	80%		{text-shadow:  0 0 0px #fff;}
	85%		{opacity: 1;}
	95%		{text-shadow:  0 0 90px #fff;}
	100%	{text-shadow:  0 0 100px #fff; opacity:0;}
}
