#logintext{
	position: absolute;
	left: 280px;
	top: -20px;
	color: white;
	font-size: 40px;
	font-family: calibri;
}
#logtextcon{
	position: absolute;
	left: 50px;
	top: 100px;
	width: 600px;
	height: 60px;
	border: 1px solid white;
}
#passtextcon{
	position: absolute;
	left: 50px;
	top: 250px;
	width: 600px;
	height: 60px;
	border: 1px solid white;
}
#container1{
	position: absolute;
	left: 350px;
	top: 100px;
	width:700px;
	height:450px;
	border: 1px solid black;
	background-color: black;
	opacity: 0.8;
}
#container2{
	position: absolute;
	top: 0px;
	left: 0px;

}
#icon{
	position: absolute;
	left: 7px;
	top: -15px;
}
#title{
	position: absolute;
	left: 70px;
	top: -25px;
	font-family: arial black;
	font-size: 34px;
}
#footericon{
	position: absolute;
	bottom: -5px;
	left: 7px;

}
#copyright{
	position: absolute;
	color: black;
	font-family: arial black;
	font-size: 20px;
	left: 50px;
}

#container3{
	position: absolute;
	bottom: 0px;
	left: 0px;
	
}
#container4{
	position: absolute;
	top: 60px;	
	left: 0px;
}